---

consulServer: {{ consulServer }}
consulDataCenter: {{ consulDataCenter }}
consulDataDir: {{ consulDataDir }}
consulUIDir: {{ consulUIDir }}
consulEncrypt: {{ consulEncrypt }}
consulLogLevel: {{ consulLogLevel }}
consulEnableSyslog: {{ consulEnableSyslog }}
consulStartJoin: '{{ consulStartJoin }}'
consulInetInterface: {{ consulInetInterface }}
consulMode: {{ consulMode }}
consulLogFile: {{ consulLogFile }}
