[bumpversion]
current_version = 2.0.0
commit = True
tag = False

[bumpversion:file:VERSION]

[bumpversion:file:vars/global.yml]

[bumpversion:file:docs/source/conf.py]

[bumpversion:file:files/common-scripts/dims.ansible-playbook.sh]

[bumpversion:file:files/common-scripts/dims.function.sh]

[bumpversion:file:files/common-scripts/trigger.runner.sh]

[bumpversion:file:roles/python-virtualenv/templates/scripts/dimsenv.build.j2]

[bumpversion:file:roles/python-virtualenv/templates/scripts/dimsenv.update.j2]

