# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}
#
# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Base requirements for dimscli (from $GIT/python-dimscli/requirements.txt)
Babel==2.4.0 # BSD
cliff==2.7.0 # Apache-2.0
keystoneauth1==2.20.0 # Apache-2.0
openstacksdk==0.9.10 # Apache-2.0
oslo.i18n==3.15.3 # Apache-2.0
oslo.utils==3.25.1 # Apache-2.0
osc_lib==1.6.0
oslo.config==4.2.0
oslosphinx==4.13.0
argparse
cliff-tablib>=1.0
cmd2>=0.6.7
PrettyTable<0.8,>=0.7
pyparsing==2.2.0
requests==2.17.3
stevedore==1.22.0 # Apache-2.0
unicodecsv==0.14.1
python-openstackclient==3.11.0
ianitor==0.0.4
consulate==0.6.0
sh==1.12.13
anyjson==0.3.3
astroid==1.5.2
Cython==0.25.2
docutils==0.14.rc1
gnureadline==6.3.3
ipdb==0.10.3
ipython==5.4.1
logilab-common==1.4.0
nose==1.3.7
numpy==1.13.0rc2
pathtools==0.1.2

#pbr<2.0,>=1.4 (from openstack)
pbr==3.0.1

ansible-toolkit==1.3.2
ansible=={{ dims_ansible_version }}

ablog==0.8.4
alabaster==0.7.9
argh==0.26.2
arrow==0.10.0
backports.ssl-match-hostname==3.4.0.2
blueprint==3.4.2
bumpversion==0.5.3
certifi==2017.4.17
cookiecutter==1.5.1
Jinja2==2.9.6
livereload==2.5.1
lxml==3.7.3
MarkupSafe==1.0
pika==0.10.0b2
port-for==0.3.1
Pygments==2.2.0
pygraphviz==1.4rc1
python-dateutil==2.6.0
pytz
PyYAML==3.12
robotframework==3.0.2
semantic_version==2.4.1
snowballstemmer==1.2.1
# Note: Supervisor is installed here, but configured in
# $GIT/ansible-playbooks/roles/supervisor-install/tasks/main.yml
# Make sure that the template for the configuration file comes from
# the same version as specified here (i.e., if you change the number,
# also upgrade the template).
supervisor==3.3.1
sphinx==1.6.2
sphinx-autobuild==0.6.0
sphinx_rtd_theme
testrepository==0.0.20
tornado==4.5.1
watchdog==0.8.3
Werkzeug==0.11.10
{{ artifacts_url }}/python_dimscli-{{ dimscli_version }}-py2.py3-none-any.whl
wheel==0.29.0
yamlreader==3.0.4
dnspython==1.15.0
python-mimeparse==1.6.0
simplejson==3.10.0
ndg-httpsclient==0.4.2
pyOpenSSL==17.0.0
