#!/bin/bash

# Runs latest consul image as container consul
docker run --name consul --net=host \
    -e 'CONSUL_BIND_INTERFACE={{ consul_bind_interface }}' \
    -v {{ consul_data_dir }}:/consul/data \
    -v /etc/consul.d/{{ consul_mode }}/consul.json:/etc/consul.d/{{ consul_mode }}/consul.json \
	consul agent -config-dir=/etc/consul.d/{{ consul_mode }}

exit $?
