#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
# 
# vim: set ts=4 sw=4 tw=0 et :

# This set of tests checks for things that have been deprecated as a result
# of changes and advances over the years in the development of the DIMS
# software base. Any tests that fail here should be remediated as
# indicated by the test (i.e., a "does not exist" fail means delete it!!)

load helpers

@test "[S][EV] File {{ dims_etc_bashrc }}/20-consulleader.bash does not exist" {
    [[ ! -f "{{ dims_etc_bashrc }}/20-consulleader.bash" ]]
}

# The following are deprecated content tests moved from roles/python-virtualenv.

{% for item in [ 'network', 'consulleader', 'virtualenv' ] %}
@test "[S][EV] File {{ dims_etc_bashrc }}/bashrc.dims.{{ item }} does not exist" {
    [ ! -f {{ dims_etc_bashrc }}/bashrc.dims.{{ item }} ]
}

{% endfor -%}

{% for item in [ '20-consulleader' ] %}
@test "[S][EV] File {{ dims_etc_bashrc }}/{{ item }}.bash does not exist" {
    [ ! -f {{ dims_etc_bashrc }}/{{ item }}.bash ]
}

{% endfor -%}

# Docker changed distribution with CE/EE release in mid-2017
@test "[S][EV] APT repo using \"dockerproject.org\" is not used" {
    assert '' ! bash -c "grep -l dockerproject.org /etc/apt/sources.list.d/*.list"
}

