#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

# This set of tests is written for CoreOS-specific diagnostics.
# All tests are skipped if this is not being run on CoreOS.
# (Some tests may still apply on other hosts, but this file is
# named with 'coreos' in the name to allow selective execution.)

load helpers

setup() {
    source $DIMS/bin/dims_functions.sh
}

@test "[S][EV] PATH set in /etc/environment" {
    ! is_coreos && skip "Only applying on CoreOS"
    grep -q '^PATH=' /etc/environment
}

@test "[S][EV] sysctl -n net.ipv6.conf.all.disable_ipv6 returns 1" {
    ! is_coreos && skip "Only applying on CoreOS"
    assert 1 sysctl -n net.ipv6.conf.all.disable_ipv6
}

@test "[S][EV] PATH includes custom Python (pypy)" {
    ! is_coreos && skip "Only applying on CoreOS"
    bash -c "echo $PATH | grep -q '/home/{{ vmUser }}/pypy/bin'"
}

@test "[S][EV] timedatectl timezone set to '{{ dims_timezone }}'" {
    ! is_coreos && skip "Only applying on CoreOS"
    assert "{{ dims_timezone }}" bash -c "timedatectl status| grep zone|sed -e 's/.*Time zone: //' -e 's/ (.*//'"
}

@test "[S][EV] File /etc/profile.d/coreos.sh exists" {
    ! is_coreos && skip "Only applying on CoreOS"
    [[ -f /etc/profile.d/coreos.sh ]]
}
