#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :
#

@test "[S][EV] Can't read 'dims' account .bashrc file" {
	[ ! -r /home/dims/.bashrc ]
}

{% if valid_users is defined %}
{% for user in valid_users %}
@test "[S][EV] Can read {{ user }}'s bashrc file" {
	[ ! -r /home/{{ user }}/.bashrc ]
}


{% endfor %}
{% endif %}
