#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :
#

{% if ansible_os_family == 'ubuntu' %}
@test "[S][EV] All APT packages are up to date ({{ ansible_os_familty }})" {
    assert "0 packages can be updated. 0 updates are security updates." bash -c "/usr/lib/update-notifier/apt-check --human-readable"
}
{% endif %}

{% if ansible_os_family == 'debian' %}
@test "[S][EV] All APT packages are up to date ({{ ansible_os_family }})" {
    assert "0 packages can be updated." bash -c "apt list --upgradable"
}
{% endif %}

