#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

load helpers

function setup() {
    apt-mark showhold > /tmp/packages_hold.$$.$PPID
}

function teardown() {
    rm -f /tmp/packages_hold.$$.$PPID
}

{% if ansible_distribution == 'Ubuntu' %}
@test "[S][EV] All APT packages are up to date ({{ ansible_distribution }})" {
    bash -c "(/usr/lib/update-notifier/apt-check -p && echo '')" 1>&2
    assert "0 packages can be updated.0 updates are security updates." bash -c "/usr/lib/update-notifier/apt-check --human-readable"
}
{% elif ansible_distribution == 'Debian' %}
@test "[S][EV] All APT packages are up to date ({{ ansible_distribution }})" {
    assert "Listing..." bash -c "apt list --upgradable | fgrep -v -f /tmp/packages_hold.$$.$PPID"
}
{% else %}
@test "[S][EV] All packages are up to date ({{ ansible_distribution }})" {
    skip "No check '{{ ansible_distribution }}'"
}
{% endif %}
