# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# This is the default file installed via roles/base and
# is just to make the system run and configurable, if no
# other template for a host can be found.

# TODO(dittrich): This seems to work to force config to stick:
#
# nmcli con add type ethernet con-name static2 ifname eth1 ip4 192.168.29.13/24 gw4 192.168.29.1
#
# See:
# http://www.tecmint.com/configure-network-connections-using-nmcli-tool-in-linux/

# The loopback network interface
auto lo
iface lo inet loopback

{% if net is defined %}

# The following logic allows definition of multiple interfaces
# via the array 'networking' containing dictionaries of interface
# definitions. If no dictionary exists, a minimalist interfaces
# file allowing DHCP for all unspecified interfaces is produced.

{%  for i in net.iface|list|sort %}
{% set iface = net.iface[i] %}
allow-hotplug {{ i }}
auto {{ i }}
iface {{ i }} inet {{ iface.inet }}
{%   if iface.ip is defined %}
      address {{ iface.ip }}
{%   endif %}
{%   if iface.netmask is defined %}
      netmask {{ iface.netmask }}
{%   endif %}
{%   if iface.broadcast is defined %}
      broadcast {{ iface.broadcast }}
{%   endif %}
{%   if iface.gateway is defined %}
      gateway {{ iface.gateway }}
{%   endif %}
{%   if iface.dns_search is defined %}
      dns-search {{ iface.dns_search }}
{%   endif %}
{%   if iface.dns_servers is defined %}
      dns-servers {{ iface.dns_servers }}
{%   endif %}

{%  endfor %}
{% endif %}
