# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

auto lo
iface lo inet loopback

{% for interface in networking.interfaces %}
{% if interface.inet == 'dhcp' %}

auto {{ interface.device }}
iface {{ interface.device }} inet {{ interface.inet }}

{% else %}

allow-hotplug {{ interface.device }}
auto {{ interface.device }}
iface {{ interface.device }} inet {{ interface.inet }}
      address {{ interface.ip }}
      netmask {{ interface.netmask }}
      broadcast {{ interface.broadcast }}
{% if interface.gateway is defined %}
      gateway {{ interface.gateway }}
{% endif %}
      dns-search {{ interface.dns_search }}
      dns-servers {{ interface.dns_servers }}

{% endif %}
{% endfor %}
