# {{ ansible_managed }}

# This file was derived from the default /etc/network/interfaces
# produced by the Ubuntu 14.04 installation on the Dell Precision
# M4800 laptops. Those laptops have two interfaces (eth0 and wlan0)
# for wired and wireless networking using DHCP via NetworkManager.

auto lo
iface lo inet loopback
