# 
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
[main]
plugins=ifupdown,keyfile
dns=none

[ifupdown]
managed=false

# See: http://support.qacafe.com/knowledge-base/how-do-i-prevent-network-manager-from-controlling-an-interface/
# unmanaged-devices=interface-name:eth*,except:interface-name:eth0;interface-name:wlan*
[keyfile]
unmanaged-devices=interface-name:eth*,except:interface-name:eth0;interface-name:wlan*;interface-name:vboxnet*
