# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# This is the standard NGINX configuration file that should handle
# basic NGINX configuration using the generic role "nginx". Other more
# specific roles should drop in their own configuration files to handle
# specific services using server{} blocks for each service. This allows
# multiple services to be served on the same server (possibly even using
# the same TCP port) using NGINX reverse proxy features. When doing this,
# pay attention to the nginx_default_port to ensure that rewriting rules
# are properly coupled with the configuration of the base 'nginx' role.

user www-data;
worker_processes {{ nginx_worker_processes | default(4) }};
pid /run/nginx.pid;

events {
  worker_connections 1024;
  use epoll;
  # multi_accept on;
}

http {

  ##
  # Basic Settings
  ##

  sendfile on;
  tcp_nopush on;
  tcp_nodelay off;
  keepalive_timeout 5;
  types_hash_max_size 2048;
  server_tokens off;

  # spool uploads to disk instead of clobbering downstream servers
  client_body_temp_path /var/spool/nginx-client-body 1 2;
  client_max_body_size 32m;
  client_body_buffer_size 128k;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

  # allow long server names
  server_names_hash_bucket_size 64;
  server_name_in_redirect off;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  ##
  # Logging Settings
  ##

  access_log syslog:server=localhost,facility={{ syslog_facility }},tag=nginx,severity={{ syslog_severity }};
  error_log syslog:server=localhost,facility={{ syslog_facility }},tag=nginx,severity={{ syslog_severity }};

  ##
  # Gzip Settings
  ##

  gzip on;
  gzip_http_version 1.1;
  gzip_comp_level 2;
  gzip_proxied any;
  gzip_min_length  1100;
  gzip_buffers 16 8k;
  gzip_types text/plain text/css text/xml text/javascript \
      application/x-javascript application/json application/xml application/xml+rss;
  # Some version of IE 6 don't handle compression well on some mime-types,
  # so just disable for them
  gzip_disable "MSIE [1-6].(?!.*SV1)";
  # Set a vary header so downstream proxies don't send cached gzipped
  # content to IE6
  gzip_vary on;


  # proxy settings
  proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
  proxy_redirect     off;
  proxy_http_version 1.1;

  proxy_set_header   Host              $host;
  proxy_set_header   X-Real-IP         $remote_addr;
  proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
  proxy_set_header   X-Forwarded-Proto $scheme;
  proxy_max_temp_file_size 0;

  proxy_connect_timeout      90;
  proxy_send_timeout         90;
  proxy_read_timeout         90;

  proxy_buffer_size          4k;
  proxy_buffers              4 32k;
  proxy_busy_buffers_size    64k;
  proxy_temp_file_write_size 64k;

  ##
  # Virtual Host Configs
  ##

  # Include alternate config files (if any)
  include /etc/nginx/conf.d/*.conf;

  # Put site configuration dropins here and create symlink
  # into /etc/nginx/sites-enabled to enable them.
  include /etc/nginx/sites-enabled/*;
}


#mail {
#  # See sample authentication script at:
#  # http://wiki.nginx.org/ImapAuthenticateWithApachePhpScript
#
#  # auth_http localhost/auth.php;
#  # pop3_capabilities "TOP" "USER";
#  # imap_capabilities "IMAP4rev1" "UIDPLUS";
#
#  server {
#    listen     localhost:110;
#    protocol   pop3;
#    proxy      on;
#  }
#
#  server {
#    listen     localhost:143;
#    protocol   imap;
#    proxy      on;
#  }
#}
