# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

[Unit]
Description=Consul server cluster join
Requires=consul.service
After=consul.service

[Service]
TimeoutStartSec=0
ExecStartPre=/bin/sh -c 'sleep 30'
ExecStart=/usr/bin/docker exec consul-%H consul join {{ groups.manager|list_to_args }}
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
