<!-- {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}] -->

<!DOCTYPE html>
<html>
<head>
<title>{{ ansible_fqdn }}</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<p>Nginx on {{ ansible_fqdn }}</p>
</body>
</html>
