# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
# Docker Upstart and SysVinit configuration file
# Use DOCKER_OPTS to modify the daemon startup options.

DOCKER_NETWORK_OPTS="$DOCKER_NETWORK_OPTS {{ docker_network_opts }}"
DOCKER_OPTS="$DOCKER_OPTS {{ docker_opts }}"
