# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# To see all options supported by dnsmasq, look at the default config file
# included with dnsmasq. (Found in templates/dnsmasq.conf.j2 in this
# Ansible playbook repository.) Only the options required are specified here.

{% if groups['manager'] is defined %}
# The following rule causes dnsmasq to query a local consul DNS
# service on specified port (if/when it is running) to
# resolve addresses in specified domain.
#
# See http://www.consul.io/intro/getting-started/agent.html
#
{% for host in groups['manager'] %}
server=/{{ consul_dns_domain }}/{{ hostvars[host].net.iface[zone_iface['consul']].ip }}#{{ consul_dns_port }}
{% if dns_zone['consul'].dns_in_addr_arpa is defined %}
server=/{{ dns_zone['consul'].dns_in_addr_arpa }}.in-addr.apra/{{ hostvars[host].net.iface[zone_iface['consul']].ip }}#{{ consul_dns_port }}
{% endif %}
{% endfor %}
{% endif %}
