# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# Deployment "{{ deployment }}" hosts

# To see all options supported by dnsmasq, look at the default config file
# included with dnsmasq. (Found in templates/dnsmasq.conf.j2 in this
# Ansible playbook repository.) Only the options required are specified here.

# Specify the domain to use for a given range.
domain=vlan1.dims,10.142.29.0/24
domain=vlan2.dims,192.168.88.0/24

# Serve this domain and address range from this host.
server=/vlan1.dims/127.0.0.1
server=/29.142.10.in-addr.arpa/127.0.0.1

server=/vlan2.dims/127.0.0.1
server=/88.168.192.in-addr.arpa/127.0.0.1

server=/devops.dims/127.0.0.1
server=/ops.dims/127.0.0.1

# Host definitions (contents may be derived from another
# source, such as a database.)
addn-hosts=/etc/hosts.dims

# Define aliases here as CNAME entries so that hosts only
# have one name (with each distinct interface in a logically
# separate DNS domain for certainty about routing.)
#
# cname=alias,target

# Deprecated aliases we need to get rid of
cname=u12-dev-svr-1.vlan1.dims,app.vlan1.dims
cname=u12-dev-svr-1.vlan2.dims,app.vlan2.dims

# DIMS DevOps hosts
cname=auth.devops.dims,sso.vlan1.dims
cname=app.devops.dims,app.vlan1.dims
cname=demo.devops.dims,app.vlan1.dims
cname=reload.devops.dims,sso.vlan1.dims
cname=manager.devops.dims,sso.vlan1.dims
cname=foswiki.devops.dims,sso.vlan1.dims
cname=wellington.devops.dims,wellington.vlan1.dims
cname=stirling.devops.dims,stirling.vlan1.dims
cname=vpn.devops.dims,vpn.vlan2.dims
cname=vpn2.devops.dims,wellington.vlan1.dims
cname=ldap.devops.dims,lapp.vlan1.dims
cname=jenkins.devops.dims,jenkins.vlan1.dims
cname=source.devops.dims,jenkins.vlan1.dims
cname=ansible-d.devops.dims,jenkins.vlan1.dims
cname=jira.devops.dims,jira.vlan1.dims
cname=git.devops.dims,jira.vlan1.dims
# This is no longer being used - we can abandon the referenced machine
#cname=u12-dev-1.devops.dims,u12-dev-ws-1.vlan1.dims
cname=nas.devops.dims,dogs.vlan1.dims
cname=ns.devops.dims,eclipse.vlan1.dims

# DIMS OPS hosts
cname=app.ops.dims,app.vlan1.dims
cname=demo.ops.dims,app.vlan1.dims
cname=hub.ops.dims,hub.vlan1.dims
cname=cifv1.ops.dims,floyd2-p.vlan1.dims
cname=rabbitmq.ops.dims,rabbitmq.vlan1.dims
cname=trident.ops.dims,hub.vlan1.dims
cname=vpn.ops.dims,fearless.prisem.washington.edu
cname=ns.ops.dims,eclipse.vlan1.dims

# DIMS PISCES hosts
# ...

# DIMS PRISEM hosts (to be removed soon)
cname=linda-vm1.prisem.washington.edu,linda-vm1.vlan1.dims
cname=u12-dev-ws-1.prisem.washington.edu,u12-dev-ws-1.vlan1.dims
cname=u12-dev-svr-1.prisem.washington.edu,app.vlan1.dims
cname=demo.prisem.washington.edu,app.vlan1.dims
cname=hub.prisem.washington.edu,hub.vlan1.dims
cname=sso.prisem.washington.edu,sso.vlan1.dims
cname=reload.prisem.washington.edu,sso.vlan1.dims
cname=auth.prisem.washington.edu,sso.vlan1.dims
cname=manager.prisem.washington.edu,sso.vlan1.dims
cname=foswiki.prisem.washington.edu,sso.vlan1.dims
cname=jenkins-int.prisem.washington.edu,jenkins.vlan1.dims
cname=ansible-d.prisem.washington.edu,jenkins.vlan1.dims
cname=source.prisem.washington.edu,jenkins.vlan1.dims
# Don't define an alias for jira.prisem.washington.edu here.
# Do it in develop.j2.
cname=jira-int.prisem.washington.edu,jira.vlan1.dims
cname=jenkins.prisem.washington.edu,lapp.vlan1.dims
cname=lapp.prisem.washington.edu,lapp.vlan1.dims
cname=ldap.prisem.washington.edu,lapp.vlan1.dims
cname=gitweb.prisem.washington.edu,lapp.vlan1.dims
cname=lapp-int.prisem.washington.edu,lapp.vlan1.dims
cname=foswiki-int.prisem.washington.edu,foswiki.vlan1.dims
cname=vpn.prisem.washington.edu,vpn.vlan2.dims
cname=git.prisem.washington.edu,jira.vlan1.dims
cname=nas.prisem.washington.edu,dogs.vlan1.dims
cname=rabbitmq.prisem.washington.edu,rabbitmq.vlan1.dims
cname=wellington.prisem.washington.edu,wellington.vlan1.dims
cname=ns.prisem.washington.edu,eclipse.vlan1.dims

