# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
#######################################################
# Trident Configuration
#######################################################
# Except for comment lines (anything starting with '#')
# this file is in the JSON format, thus mind the commas
# and quotes otherwise Trident can't properly use it.
#
# This file should only be readable by the Trident user
#######################################################

{
{% if trident.version in [ '1.3.8' ] %}
	"file_root": "/usr/share/trident/",
{% endif %}
{% if trident.version in [ '1.4.2', '1.4.5' ] %}
	# Where the dbschemas, webroot and templates are located
	"file_roots": [ "/usr/share/trident/", "/usr/share/pitchfork/" ],
{% endif %}

	# Where variable files are stored
	"var_root": "/var/lib/trident/",

	# TODO(dittrich): Try to get this to rsyslog for sorting, not separate logging
	# Log File location (logrotate rotates it)
	"logfile": "/var/log/trident/trident.log",

	# Crypto Keys for JWT (in directory relative to config dir)
	"jwt_key_prv": "jwt.prv",
	"jwt_key_pub": "jwt.pub",

{% if trident.version in [ '1.4.2', '1.4.5' ] %}
	# Content Security Policy
	"csp": "default-src 'self'",

	# CSS: Cascading Style Sheets
	"css": [ "trident", "blockquote", "code", "crumbs", "diff", "form", "loader", "messages", "search", "table", "wiki" ],

	# Javascript: global Javascript for every page
	# (Should actually always be empty)
	"javascript": [],

	# X-Forwarded-For Trusted IP list
	# CIDR prefixes from which we trust the XFF header
	"xff_trusted_cidr": [ "127.0.0.1/8" ],

	# Weak Password Dictionaries
	"pw_weakdicts": [ "10k_most_common.txt" ],
{% endif %}

{% if trident.version in [ '1.3.8' ] %}
	#########################################
	# PostgreSQL Database details
	#########################################
	# PSQL local unix socket
	# Uses PSQL peer authentication
	# This works out of the box on Debian
	#########################################
{% endif %}
{% if trident.version in [ '1.4.2', '1.4.5' ] %}
	#########################################
	# PostgreSQL Database details
	#########################################
	# Requires configuration of pg_hba.conf!
	#
	# local unix socket (Debian):
	#   "db_host": "/var/run/postgresql/",
	#   "db_port": "5432",
	#
	# remote:
	#   "db_host": "db.example.org",
	#   "db_port": "5432",
	#########################################
{% endif %}
	"db_host": "localhost",
	"db_port": "{{ tridentDBPort }}",
	"db_name": "{{ tridentDBName }}",
	"db_user": "{{ tridentDBUser }}",
	"db_pass": "{{ tridentDBPass }}",
{% if trident.version in [ '1.4.2', '1.4.5' ] %}
	"db_ssl_mode": "disable",
{% endif %}
{% if trident.version in [ '1.4.2', '1.4.5' ] %}
	##########################################
	# Admin postgres user for table management
	##########################################
	"db_admin_db": "postgres",
	"db_admin_user": "postgres",
	"db_admin_pass": "",
{% endif %}

	# The Nodename is used to identify this instance
	# in a cluster of hosts. The name must be unique.
	#
	# The name is also used as a hostname for SMTP EHLO/HELO
	# messages and thus must be a FQDN.
	#
	# empty => system configured (typically /etc/hostname)
	"nodename": "{{ tridentFQDN }}",

	# On which HTTP port to run our Trident Daemon
	"http_host": "0.0.0.0",
	"http_port": "{{ tridentHTTPPort }}",

{% if trident.version in [ '1.4.2', '1.4.5' ] %}
	# Regexp for usernames, should allow email addresses
	"username_regexp": "^[a-z0-9_.+-@].*$",

	# We do not want to show user_home_links (unless the user is a sysadmin)
	"user_home_links": true,

	# SMTP configuration details
	"smtp_host": "127.0.0.1",
	"smtp_port": "25",
	"smtp_ssl": "ignore",

	# Notification address for all messages
	"msg_monitor_from": "{{ trident.adminemail }}",
	"msg_monitor_to": "{{ trident.adminemail }}",

	# Override some form parameters
	"username_min_length": "2",
	"username_example": "firstlastnum",

	# Translation Setup.
	"translation_default": "en-US",
	"translation_languages": [ "en-US.json" ],

	# Application specific settings
	"application": {
		# Application Database version
		"app_db_schema_version": "0"
	}
{% else %}
	# Just in case one of the conditional blocks above ended
	# with a comma, put in one last variable without to ensure
	# proper formatting.
	"answer": "42"
{% endif %}
}

