# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}
[Unit]
Description=Hashicopr vault server
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/vault
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart={{ dims_bin }}/vault.run vault
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
