SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="MAC:ADDRESS", KERNEL=="enp4s3", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="MAC:ADDRESS", KERNEL=="enp4s8", NAME="eth1"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="MAC:ADDRESS", KERNEL=="enp4s9", NAME="eth2"
