#
# The name of the group that owns this installation.
brand='{{ trident_site_welcome_text }}'
#
# A title which will appear on the portal's pages.
title='{{ trident_site_welcome_text }}'
#
# Copyright by...
coname='Trident'
#
# The portal host name.
portalname='{{ tridentFQDN }}'
#
# The auth URL.
authurl='{{ trident_site_url_public }}'
#
# The email domain to be used.
domain='{{ trident_site_email_domain }}'
#
# URL to the wiki for a trustgroup. %s is replaced by the TrustGroup name.
wiki='{{ trident_site_url_public }}/%s/bin/view'
#
# Regular expressions to be used in locating the support website or wiki.
supportre='https://ops.!domain!/rt'
wikire='https://wiki.!domain!/([a-z]+)/'

# E-mail for support requests
supportemail='{{ trident_site_adminemail }}'
#
# The location of the postgres DB, either a local instance or a hostname.
pghost='/var/run/postgresql'
pgport={{ tridentDBPort }}
pguser='{{ tridentDBUser }}'
#
# The database name to be used.
pgname='{{ tridentDBName }}'
#
# Paths to the running code once installed.
portal='{{ trident_site_var }}'
library='{{ trident_site_var }}/library'
webroot='{{ trident_site_var }}/webroot'
sitedir='{{ trident_site_var }}/webroot/site'
mechdir='{{ trident_site_var }}/webroot/mech'
webvar='{{ trident_site_var }}/webvar'
#
# User id (integer) and group id (integer) to be used for file ownership
# and apache process configuration.
wwwuid=33
wwwgid=33
#
# Paths to SSL Key, Cert, Chainfile. To be used in the Apache configuration.
{% if use_letsencrypt is not defined or not use_letsencrypt %}
sslcertfile='{{ ssl_certfile }}'
sslkeyfile='{{ ssl_keyfile }}'
sslchainfile=''
{% else %}
sslcertfile='/etc/letsencrypt/live/{{ tridentFQDN }}/fullchain.pem'
sslkeyfile='/etc/letsencrypt/live/{{ tridentFQDN }}/privkey.pem'
sslchainfile='/etc/letsencrypt/live/{{ tridentFQDN }}/fullchain.pem'
{% endif %}
