# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# The following map *must* match the IP address assignments for any
# hosts (e.g., Vagrant VMs) in the .local deployment domain. There must
# *not* be any duplicate IP address assignments. If two names must
# map to the same IP address, use an appropriate CNAME alias.

{{ vmhost_ip }} vmhost.{{ ansible_dns.domain }}
{% for host in groups['private'] %}
{{ hostvars[host]['eth1']['ip'] }}	{{ host }}
{% endfor %}
