# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# The following map *must* match the IP address assignments for any
# hosts (e.g., Vagrant VMs) in the .local deployment domain. There must
# *not* be any duplicate IP address assignments. If two names must
# map to the same IP address, use an appropriate CNAME alias.

{% set zone = deployment %}

{% if groups[zone] is not defined %}
# WARN: groups['{{ zone }}'] is not defined
{% else %}
# The following hosts come from Ansible inventory groups['{{ zone }}']
{%  for host in groups[zone]|list %}
{%   if hostvars[host].net is not defined %}
# WARN: hostvars['{{ host }}'].net is not defined
{%   elif hostvars[host].net.iface is not defined %}
# WARN: hostvars['{{ host }}'].net.iface is not defined
{%   elif hostvars[host].zone_iface[zone] is not defined %}
# WARN: hostvars['{{ host }}'].zone_iface['{{ zone }}'] is not defined
{%   elif hostvars[host].net.iface[hostvars[host].zone_iface[zone]].ip is not defined %}
# WARN: hostvars['{{ host }}'].net.iface[hostvars['{{ host }}'].zone_iface['{{ zone }}']].ip is not defined
{%   else %}
{{ hostvars[host].net.iface[hostvars[host].zone_iface[zone]].ip }}	{{ host }}
{%   endif %}
{%  endfor %}
{% endif %}

