# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# Internal delivery
ops.local            :
devops.local         :
.devops.local        :
.ops.local           :

# External delivery
*                    smtp:smtp.{{ category }}.{{ deployment }}
