# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# This is the most basic of /etc/hosts files. It can always be replaced;
# it exists more or less as a placeholder. 

127.0.0.1  localhost
127.0.1.1  {{ ansible_hostname }}

# Add fully- and partially-qualified name mappings to allow DNS
# resolution to work properly from localhost. (Since this entry
# occurs after the short name line, it will never be the answer
# from a reverse map request (that will be 127.0.1.1)
127.0.1.1  {{ ansible_hostname }}.{{ category }}.{{ deployment }} {{ ansible_hostname }}.{{ category }}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
