#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

# This test assumes it is being run in the context of
# the playbook 'trident-configure' (which logs into 'tcli'
# at the beginning of the playbook) within the TTL for
# the JSON web token (JWT). If run outside of this context
# and the account is not logged in, the test will fail.

load helpers

@test "[S][EV] System primary trust group name is {{ trident_site_trust_groups.0.name }}" {
    assert "{{ trident_site_trust_groups.0.name }}" tcli group list | grep "^{{ trident_site_trust_groups.0.name }}" | awk '{ print $1; }'
}

#EOF
