# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
[program:rabbitmq]
command=
autostart=true
autorestart=true
startretries=100
numprocs=5
process_name=%(program_name)s_%(process_num)02d
user={{ env_user }}
directory={{ run_directory }}
environment=HOSTNAME="{{ ansible_hostname }}",SHELL="/bin/bash",HOME="{{ env_home }}",USER="{{ env_user }}",PATH="/opt/dims/envs/dimsenv/bin:/opt/dims/bin:/opt/cif/bin:/opt/local/bin:/usr/local/bin:/bin:/usr/bin",LANG="en_US"

