# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# The Trident Daemon Upstream
include /etc/trident/nginx/trident-upstream.inc;

# Redirect all HTTP (80) traffic to HTTPS (443)
# Trident should only be exposed over HTTPS
server {
  listen {{ tridentNginxHTTPPort }} default_server;
  #listen [::]:{{ tridentNginxHTTPPort }} default_server;

  server_name _default_;

  return 301 https://$host$request_uri;
}

# The HTTPS server that exposed Trident
server {
  listen {{ tridentNginxHTTPSPort }} ssl;
  listen [::]:{{ tridentNginxHTTPSPort }} ssl;

  server_name {{ tridentFQDN }};

  ssl_certificate   {{ sslCertDir }}/trident.crt;
  ssl_certificate_key {{ sslCertDir}}/trident.key;
  ssl_prefer_server_ciphers on;

  # And other SSL options, recommended:
  # - ssl_dhparam
  # - ssl_protocols
  # - ssl_ciphers
  # See https://cipherli.st/ for details

  # STS header
  add_header Strict-Transport-Security "max-age=31536001";

  # HTTP Key Pinning
  add_header Public-Key-Pins 'max-age=5184000; pin-sha256"={{ sslSPKIFingerprint }}"';

  access_log /var/log/nginx/trident-access.log;

  # Include the config for making Trident work
  include /etc/trident/nginx/trident-server.inc;
}
