# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

upstream trident-daemon {
  server 127.0.0.1:{{ tridentHTTPPort }};
}

# Redirect all HTTP (80) traffic to HTTPS (443)
# Trident should only be exposed over HTTPS
server {
  listen {{ tridentNginxHTTPPort }};
  #listen [::]:{{ tridentNginxHTTPPort }};

  server_name {{ tridentFQDN }};

  return 301 https://$host$request_uri;
}

 The HTTPS server that exposed Trident
server {
  listen {{ tridentNginxHTTPSPort }} ssl;
  listen [::]:{{ tridentNginxHTTPSPort }} ssl;

  server_name {{ tridentFQDN }};

  # Our webroot (contains static, non-sensitive files, source if public ;)
  root /usr/share/trident/webroot/;

  error_log syslog:server={{ rsyslog_server }},facility={{ syslog_facility }},tag=trident,severity={{ syslog_severity }};
  access_log syslog:server={{ rsyslog_server }},facility={{ syslog_facility }},tag=trident,severity={{ syslog_severity }};

  ######################################################
  # Static files
  ######################################################
  location ~ ^/(css|gfx|js)/ {
    expires 7d;
    root /usr/share/;
    try_files /trident/webroot$uri /pitchfork/webroot$uri =404;
  }

  location /favicon.ico {
    expires 31d;
    root /usr/share/;
    try_files /trident/webroot$uri /pitchfork/webroot$uri =404;
  }

  ######################################################
  # Forward all requests to the Trident Daemon
  ######################################################
  location / {
    client_max_body_size    0;
    proxy_set_header  Host $host;
    proxy_http_version  1.1;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;

    # No Connection header so that Keep-alive is performed where possible
    proxy_set_header  Connection "";

    # Pass it to Trident
    proxy_pass    http://trident-daemon;
  }
}
