#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

load helpers

@test "[S][EV] System name is {{ trident_site_name }}" {
    assert "{{ trident_site_name }}" tcli system get name
}

@test "[S][EV] System welcome_text is {{ trident_site_welcome_text }}" {
    assert "{{ trident_site_welcome_text }}" tcli system get welcome_text
}

@test "[S][EV] System url_public is {{ trident_site_url_public }}" {
    assert "{{ trident_site_url_public }}" tcli system get url_public
}

@test "[S][EV] System adminname is {{ trident_site_adminname }}" {
    assert "{{ trident_site_adminname }}" tcli system get adminname
}

@test "[S][EV] System adminemail is {{ trident_site_adminemail }}" {
    assert "{{ trident_site_adminemail }}" tcli system get adminemail
}

@test "[S][EV] System email_domain is {{ trident_site_email_domain }}" {
    assert "{{ trident_site_email_domain }}" tcli system get email_domain
}

@test "[S][EV] System people_domain is {{ trident_site_people_domain }}" {
    assert "{{ trident_site_people_domain }}" tcli system get people_domain
}

#EOF
