#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

load helpers

@test "[S][EV] trident-handler alias exists" {
    grep -q '^trident-handler' /etc/aliases
}

@test "[S][EV] trident-handler executes {{ trident.mail_handler }}" {
    assert 'trident-handler: "|{{ trident.mail_handler }}"' grep '^trident-handler' /etc/aliases
}

@test "[S][EV] mail-handler@{{ trident.email_domain }} maps to trident-handler in /etc/postfix/virtual" {
    grep -q '^mail-handler@{{ trident.email_domain }}.*trident-handler' /etc/postfix/virtual
}

@test "[S][EV] @{{ trident.email_domain }} maps to trident-handler in /etc/postfix/virtual" {
    grep -q '^@{{ trident.email_domain }}.*trident-handler' /etc/postfix/virtual
}

{% if trident.email_domain != trident.people_domain %}
@test "[S][EV] mail-handler@{{ trident.people_domain }} maps to trident-handler in /etc/postfix/virtual" {
    grep -q '^mail-handler@{{ trident.people_domain }}.*trident-handler' /etc/postfix/virtual
}

@test "[S][EV] @{{ trident.people_domain }} maps to trident-handler in /etc/postfix/virtual" {
    grep -q '^@{{ trident.people_domain }}.*trident-handler' /etc/postfix/virtual
}
{% endif %}
