#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

load helpers

@test "[S][EV] trident-handler alias exists" {
    grep -q '^trident-handler' /etc/aliases
}

@test "[S][EV] trident-handler executes {{ trident_site_mail_handler }}" {
    assert 'trident-handler: "|{{ trident_site_mail_handler }}"' grep '^trident-handler' /etc/aliases
}

@test "[S][EV] mail-handler@{{ trident_site_email_domain }} maps to trident-handler in /etc/postfix/virtual" {
    grep -q '^mail-handler@{{ trident_site_email_domain }}.*trident-handler' /etc/postfix/virtual
}

@test "[S][EV] @{{ trident_site_email_domain }} maps to trident-handler in /etc/postfix/virtual" {
    grep -q '^@{{ trident_site_email_domain }}.*trident-handler' /etc/postfix/virtual
}

{% if trident_site_email_domain != trident_site_people_domain %}
@test "[S][EV] mail-handler@{{ trident_site_people_domain }} maps to trident-handler in /etc/postfix/virtual" {
    grep -q '^mail-handler@{{ trident_site_people_domain }}.*trident-handler' /etc/postfix/virtual
}

@test "[S][EV] @{{ trident_site_people_domain }} maps to trident-handler in /etc/postfix/virtual" {
    grep -q '^@{{ trident_site_people_domain }}.*trident-handler' /etc/postfix/virtual
}
{% endif %}
