#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

load helpers

function setup() {
	source $DIMS/bin/dims_functions.sh
}

# TODO(dittrich): Overwriting nginx sites-available/default for now
# (see trident-core/tasks/main.yml)
#@test "[S][EV] File /etc/nginx/sites-available/trident is present" {
#	[ -f /etc/nginx/sites-available/trident ]
#}

#@test "[S][EV] Assert ownerships root:root for /etc/nginx/sites-available/trident" {
#	assert "root:root" stat --printf "%U:%G" /etc/nginx/sites-available/trident
#}

#@test "[S][EV] Assert permisions 644 for /etc/nginx/sites-available/trident" {
#	assert 644 stat --printf "%a" /etc/nginx/sites-available/trident
#}

@test "[S][EV] File /etc/trident/nginx/trident-upstream.inc is present" {
	[ -f /etc/trident/nginx/trident-upstream.inc ]
}

@test "[S][EV] Assert ownerships root:root for /etc/trident/nginx/trident-upstream.inc" {
	assert "root:root" stat --printf "%U:%G" /etc/trident/nginx/trident-upstream.inc
}

@test "[S][EV] Assert permisions 644 for /etc/trident/nginx/trident-upstream.inc" {
	assert 644 stat --printf "%a" /etc/trident/nginx/trident-upstream.inc
}

@test "[S][EV] File /etc/trident/nginx/trident-server.inc is present" {
	[ -f /etc/trident/nginx/trident-server.inc ]
}

@test "[S][EV] Assert ownerships root:root for /etc/trident/nginx/trident-server.inc" {
	assert "root:root" stat --printf "%U:%G" /etc/trident/nginx/trident-server.inc
}

@test "[S][EV] Assert permisions 644 for /etc/trident/nginx/trident-server.inc" {
	assert 644 stat --printf "%a" /etc/trident/nginx/trident-server.inc
}

# TODO(dittrich): Disabling: Not compatible with letsencrypt
#@test "[S][EV] Directory /etc/nginx/ssl is present" {
#	[ -d /etc/nginx/ssl ]
#}

# TODO(dittrich): Disabling: Not compatible with letsencrypt
#@test "[S][EV] Assert ownerships root:root for /etc/nginx/ssl" {
#	assert "root:root" stat --printf "%U:%G" /etc/nginx/ssl
#}

# TODO(dittrich): Disabling: Not compatible with letsencrypt
#@test "[S][EV] Assert permisions 755 for /etc/nginx/ssl" {
#	assert 755 stat --printf "%a" /etc/nginx/ssl
#}
