#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

load helpers

@test "[S][EV] Apache Directory Studio is not an installed apt package." {
    ! is_installed_package pycharm
}

@test "[S][EV] Apache Directory Studio is installed in /opt/ApacheDirectoryStudio" {
    results=$(ls -d /opt/ApacheDirectoryStudio | wc -l)
    echo $results >&2
    [ $results -ne 0 ]
}

@test "[S][EV] \"apache-directory-studio\" is {{ dims_bin }}/apache-directory-studio" {
    assert "apache-directory-studio is {{ dims_bin }}/apache-directory-studio" type apache-directory-studio
}

@test "[S][EV] Apache Directory Studio installed version number is {{ apache_directory_studio.release_version }}" {
    assert "{{ apache_directory_studio.release_version }}" bash -c "grep org.apache.directory.studio.common.core /opt/ApacheDirectoryStudio/artifacts.xml | sed \"s/.*version='\(.*\)'.*/\1/\""
}
