# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# See /usr/share/postfix/main.cf.dist for a commented, more complete version

# This is a null client configuration, which relays mail through
# a deployment-specific relay host. That host will have its own
# specific configuration.

# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name ({{ ansible_os_family }})
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

myhostname = {{ ansible_hostname }}.{{ category }}.{{ deployment }}
myorigin = {{ category }}.{{ deployment }}
mydestination =

{% set iface = hostvars[inventory_hostname].net.iface[zone_iface["private_network"]] %}
mynetworks = 127.0.0.0/8 {{ iface.ip }}/32 {{ iface.network }}/{{ iface.cidr_bits }}


relayhost = smtp.{{ category }}.{{ deployment }}

# Make sure to secure access with iptables
inet_interfaces = loopback-only
inet_protocols = ipv4

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.
# TLS parameters
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache


smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mailbox_size_limit = 0
recipient_delimiter = +
