#
# {{ ansible_managed }}
#
[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon=/opt/pycharm-community-{{ pycharm_version }}/bin/pycharm.png
Exec="/opt/pycharm-community-{{ pycharm_version }}/bin/pycharm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
