# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# This is a simple, placeholder server directive for
# bootstrapping the nginx service. 
# You can define other directives and place the files
# holding those definitions in the /etc/nginx/conf.d dir.

server {
  listen *:{{ nginx_health_check_port }};
  server_name {{ inventory_hostname_short }}.{{ nginx_default_domain }};
  root /var/www/health_check;
}
