# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# This NGINX configuration sets up a source artifact service
# rooted at the directory "{{ nginx_webroot }}/source/"
# (variable "nginx_webroot").

upstream source {
    server 127.0.0.1:{{ nginx_source_port }};
}

server {
  listen {{ nginx_source_port }};
  server_name {{ inventory_hostname }};

  location / {
    try_files $uri $uri/ @source;
  }

}

server {
  listen {{ nginx_source_port }};
  server_name {{ inventory_hostname }};
  root {{ nginx_webroot }}/source;

  location @source {
    proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
    proxy_pass http://{{ inventory_hostname }}:{{ nginx_source_port }}/$uri;
  }
}
