# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# See: https://trident.li/doc/#toc_32

# Handle testing with real users prior to applying wildcard
# that will send email to Trident.
dittrich			dittrich@devops.develop

mail-handler@{{ trident_site_email_domain }}	trident-handler
@{{ trident_site_email_domain }} trident-handler
{% if trident_site_email_domain != trident_site_people_domain %}
mail-handler@{{ trident_site_people_domain }} trident-handler
@{{ trident_site_people_domain }} trident-handler
{% endif %}
