# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

# TODO(dittrich): This is a prototype to get mail working: users should come from vars
dittrich        dittrich@devops.develop
mboggess        mboggess@devops.develop
