---

# File: playbooks/hosts/blue14.devops.local.yml

- name: Configure host "blue14.devops.local"
  hosts: blue14.devops.local

  vars:
    playbooks_root: "{{ lookup('env', 'PBR') }}"

  vars_files:
   - "{{ playbooks_root }}/vars/global.yml"

  remote_user: "ansible"
  become: yes

  roles:
    - { role: debug }
    - { role: base }
    - { role: hosts }
    - { role: postfix }
    - { role: python-virtualenv, use_sphinx: true }
    - { role: docker }
    - { role: consul }
    - { role: vagrant }
    - { role: pycharm }
    - { role: byobu }

  handlers:
   - include: "{{ handlers_path }}/restart_services.yml"

# vim: ft=ansible :
